html {
    cursor: url("img/licorn1.png"), auto;
}

.hands {
    cursor: url("img/licornclick.png"), auto;
}

body {
    background: linear-gradient(90deg, 
    rgb(255, 139, 151) 0%, 
    rgb(255, 171, 119) 10%, 
    rgb(255, 235, 122) 20%, 
    rgb(166, 255, 141) 30%, 
    rgb(145, 254, 245) 40%, 
    rgb(121, 204, 255) 50%, 
    rgb(149, 167, 255) 60%, 
    rgb(221, 135, 255) 70%, 
    rgb(255, 138, 212) 80%, 
    rgba(255, 178, 186, 1) 90%, 
    rgba(255, 179, 186, 1) 100%);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #333; /* Couleur de base pour le texte */
    z-index: -2;
}

h2, h3 {
    font-weight: bold; /* Texte en gras */
    text-transform: uppercase; /* Texte en majuscules */
}

h2 {
    color: #007BFF; /* Couleur spécifique pour les titres h2 */
}

h3 {
    color: #28a745; /* Couleur spécifique pour les titres h3 */
}

p {
    line-height: 1.6;
    margin-bottom: 20px; /* Ajout de marge en bas des paragraphes */
}

b {
    color: #dc3545; /* Couleur spécifique pour le texte en gras */
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
}

footer p {
    text-align: right;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #6c757d;
    text-align: center;
    width: 100%;
}

li:hover {
    text-decoration: underline;
}

#infiniteMovement {
    z-index: -1;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #007BFF;
    transition: transform 0.2s;
}