/* Couleurs */
h1 {color: rgb(0, 0, 0);}
h2 {color: rgb(0, 0, 0);}
h3 {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 0 rgb(176, 199, 194);
}
p {color: rgb(0, 0, 0);}

.center {
  text-align: center;
}

/* Styles pour la page */
.page-container {
  display: flex;
}



.bouton a {
  text-decoration: none;
  font-weight: bold;
  color:#35CF58 ;
}

.boutons-container {
  display: flex;
  flex: 2;
  flex-direction: column;
}

/* Styles pour les boutons */
.defis-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px; 
}

/* Styles pour les descriptions */
.description-container {
  display: flex;
  flex-direction: column;
}

.description {
  display: none;
  padding: 10px;
  background-color: rgba(59, 108, 98);
  color: white;
  border: 2px dashed #1c3b2b;
}

/* Styles liens de description */
.description a {
  text-decoration: none; 
  color: #35CF58; 
}

/* Affichage de la description */
:target {
  display: none;
}

:target.description {
  display: block;
}

html, body {
  margin: 20px;
  padding: 1px;
  background-color: rgb(210, 243, 217);
}

.bouton {
  flex: 1;
  background: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  font: inherit;
  line-height: 1;
  transition: 0.3s;
  padding: 1em 2em;
  margin: 1em;
  cursor: pointer;
  color:#35CF58 ;
  border-image-source: linear-gradient(to left,#3fb35a , #35CF58);
}

.boutonS {
  flex: 1;
  background: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  font: inherit;
  line-height: 1;
  transition: 0.3s;
  margin: 1em;
  cursor: pointer;
  color:#35CF58 ;
  border-image-source: linear-gradient(to left,#3fb35a , #35CF58);
}

.bouton:hover,
.boutonS:hover,
.bouton:focus,
.boutonS:focus {
box-shadow: 0 0.5em 0.5em -0.4em;
transform: translateY(-0.3em);
color: #35CF58 ;
border-image-source: linear-gradient(to left,#35CF58, rgb(115, 235, 22));
}

.imgFixe {
  max-width: 100%; 
  border: 2px dashed #1c3b2b;
  display: block;
  margin: 0 auto; 
}
  
footer {
  background-color: rgb(180, 206, 185);
}
